*.o
*.d
*.so
*.out
*.log
.*.swp
*.tmp
TODO
todo
tags
TAGS
.deps
*~
stamp-h1
*.la
.libs
*.lo
configure
aclocal.m4
libtool
m4
compile
config.guess
config.sub
depcomp
install-sh
missing
ltmain.sh
Debug*
Release*
Makefile
Makefile.in
test_gpsparser
test_gpsutils
gps_mt3339_uart
config.status
autom4te.cache
gpsconfig.h
test-driver
*.trs
