*.o
*.d
*.so
*.out
*.log
.*.swp
*.tmp
TODO
todo
tags
TAGS
.deps
*~
stamp-h1
*.la
.libs
*.lo
configure
aclocal.m4
libtool
compile
config.guess
config.sub
depcomp
install-sh
missing
ltmain.sh
Debug*
Release*
Makefile
Makefile.in
test_gpsparser
test_gpsutils
gps_mtk3339_uart
config.status
autom4te.cache
gpsconfig.h
test-driver
*.trs
test_fileparser
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
include/_gpsconfig.*
